

:root{
    --preto: black ;
    --branco: white ;
}

header, footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px 

}
    


#tabela{
    border-collapse: collapse;
    

}

th, td {
    padding: 6px;
    border: 1px solid var(--preto);
    user-select: none;
    flex-direction: column;
    text-align: center;
    gap: 80px;
    align-items: center;
 


}

main{
    gap: 30px;
    justify-content: center;
}
